.ovie-sprite-tools{ background:url("ovie-sprite-tools.png") top left no-repeat; }
.ovie-sprite-tools-help-off{ width:50px; height:50px; background-position:-10px -10px; }
.ovie-sprite-tools-addGeo{ width:50px; height:50px; background-position:-10px -70px; }
.ovie-sprite-tools-help{ width:50px; height:50px; background-position:-10px -130px; }
.ovie-sprite-tools-home-off{ width:50px; height:50px; background-position:-10px -190px; }
.ovie-sprite-tools-home{ width:50px; height:50px; background-position:-10px -250px; }
.ovie-sprite-tools-analysis-off{ width:50px; height:50px; background-position:-10px -310px; }
.ovie-sprite-tools-share-off{ width:50px; height:50px; background-position:-10px -370px; }
.ovie-sprite-tools-graph-off{ width:50px; height:50px; background-position:-10px -430px; }
.ovie-sprite-tools-swap-off{ width:50px; height:50px; background-position:-10px -490px; }
.ovie-sprite-tools-group-off{ width:50px; height:50px; background-position:-10px -550px; }
.ovie-sprite-tools-market-off{ width:50px; height:50px; background-position:-10px -610px; }
.ovie-sprite-tools-addGeo-offS{ width:50px; height:50px; background-position:-10px -670px; }
.ovie-sprite-tools-analysis{ width:50px; height:50px; background-position:-10px -730px; }
.ovie-sprite-tools-share{ width:50px; height:50px; background-position:-10px -790px; }
.ovie-sprite-tools-graph{ width:50px; height:50px; background-position:-10px -850px; }
.ovie-sprite-tools-swap{ width:50px; height:50px; background-position:-10px -910px; }
.ovie-sprite-tools-group{ width:50px; height:50px; background-position:-10px -970px; }
.ovie-sprite-tools-market{ width:50px; height:50px; background-position:-10px -1030px; }
.ovie-sprite-tools-share-offS{ width:30px; height:30px; background-position:-10px -1090px; }
.ovie-sprite-tools-help-offS{ width:30px; height:30px; background-position:-10px -1130px; }
.ovie-sprite-tools-helpS{ width:30px; height:30px; background-position:-10px -1170px; }
.ovie-sprite-tools-homeS{ width:30px; height:30px; background-position:-10px -1210px; }
.ovie-sprite-tools-home-offS{ width:30px; height:30px; background-position:-10px -1250px; }
.ovie-sprite-tools-analysis-offS{ width:30px; height:30px; background-position:-10px -1290px; }
.ovie-sprite-tools-analysisS{ width:30px; height:30px; background-position:-10px -1330px; }
.ovie-sprite-tools-shareS{ width:30px; height:30px; background-position:-10px -1370px; }
.ovie-sprite-tools-graphS{ width:30px; height:30px; background-position:-10px -1410px; }
.ovie-sprite-tools-graph-offS{ width:30px; height:30px; background-position:-10px -1450px; }
.ovie-sprite-tools-swap-offS{ width:30px; height:30px; background-position:-10px -1490px; }
.ovie-sprite-tools-swapS{ width:30px; height:30px; background-position:-10px -1530px; }
.ovie-sprite-tools-groupS{ width:30px; height:30px; background-position:-10px -1570px; }
.ovie-sprite-tools-group-offS{ width:30px; height:30px; background-position:-10px -1610px; }
.ovie-sprite-tools-market-offS{ width:30px; height:30px; background-position:-10px -1650px; }
.ovie-sprite-tools-marketS{ width:30px; height:30px; background-position:-10px -1690px; }
.ovie-sprite-tools-addGeoS{ width:30px; height:30px; background-position:-10px -1730px; }
.ovie-responsivetools-addGeoOff{ width:30px; height:30px; background-position:-10px -1770px; }

