.sprite-indicators{ background:url("sprite-indicators.png") top left no-repeat; }
.sprite-indicators-employer{ width:53px; height:65px; background-position:-10px -10px; }
.sprite-indicators-handmoney-big{ width:55px; height:55px; background-position:-10px -85px; }
.sprite-indicators-people-big{ width:55px; height:55px; background-position:-10px -150px; }
.sprite-indicators-moneyup-big{ width:55px; height:55px; background-position:-10px -215px; }
.sprite-indicators-resize-big{ width:55px; height:55px; background-position:-10px -280px; }
.sprite-indicators-money-big{ width:55px; height:55px; background-position:-10px -345px; }
.sprite-indicators-store-big{ width:55px; height:55px; background-position:-10px -410px; }
.sprite-indicators-gears-big{ width:55px; height:55px; background-position:-10px -475px; }
.sprite-indicators-house-big{ width:55px; height:55px; background-position:-10px -540px; }
.sprite-indicators-man-big{ width:55px; height:55px; background-position:-10px -605px; }
.sprite-indicators-student-green-s4{ width:40px; height:40px; background-position:-10px -670px; }
.sprite-indicators-student-purple-s4{ width:40px; height:40px; background-position:-10px -720px; }
.sprite-indicators-student-bluewhite-s4{ width:40px; height:40px; background-position:-10px -770px; }
.sprite-indicators-student-magent-s4{ width:40px; height:40px; background-position:-10px -820px; }
.sprite-indicators-student-blue-s4{ width:40px; height:40px; background-position:-10px -870px; }
.sprite-indicators-student-greenwhite-s4{ width:40px; height:40px; background-position:-10px -920px; }
.sprite-indicators-mansolid{ width:40px; height:40px; background-position:-10px -970px; }
.sprite-indicators-womansolid{ width:40px; height:40px; background-position:-10px -1020px; }
.sprite-indicators-gears{ width:35px; height:35px; background-position:-10px -1070px; }
.sprite-indicators-student-purple-s3{ width:35px; height:35px; background-position:-10px -1115px; }
.sprite-indicators-house{ width:35px; height:35px; background-position:-10px -1160px; }
.sprite-indicators-people{ width:35px; height:35px; background-position:-10px -1205px; }
.sprite-indicators-moneyup{ width:35px; height:35px; background-position:-10px -1250px; }
.sprite-indicators-money{ width:35px; height:35px; background-position:-10px -1295px; }
.sprite-indicators-resize{ width:35px; height:35px; background-position:-10px -1340px; }
.sprite-indicators-student-green-s3{ width:35px; height:35px; background-position:-10px -1385px; }
.sprite-indicators-handmoney{ width:35px; height:35px; background-position:-10px -1430px; }
.sprite-indicators-man{ width:35px; height:35px; background-position:-10px -1475px; }
.sprite-indicators-store{ width:35px; height:35px; background-position:-10px -1520px; }
.sprite-indicators-student-greenwhite-s3{ width:35px; height:35px; background-position:-10px -1565px; }
.sprite-indicators-student-blue-s3{ width:35px; height:35px; background-position:-10px -1610px; }
.sprite-indicators-student-magent-s3{ width:35px; height:35px; background-position:-10px -1655px; }
.sprite-indicators-student-bluewhite-s3{ width:35px; height:35px; background-position:-10px -1700px; }
.sprite-indicators-person-age0{ width:30px; height:30px; background-position:-10px -1745px; }
.sprite-indicators-person-age1{ width:30px; height:30px; background-position:-10px -1785px; }
.sprite-indicators-person-age3{ width:30px; height:30px; background-position:-10px -1825px; }
.sprite-indicators-student-purple-s2{ width:30px; height:30px; background-position:-10px -1865px; }
.sprite-indicators-student-bluewhite-s2{ width:30px; height:30px; background-position:-10px -1905px; }
.sprite-indicators-student-magent-s2{ width:30px; height:30px; background-position:-10px -1945px; }
.sprite-indicators-person-age2{ width:30px; height:30px; background-position:-10px -1985px; }
.sprite-indicators-student-green-s2{ width:30px; height:30px; background-position:-10px -2025px; }
.sprite-indicators-student-greenwhite-s2{ width:30px; height:30px; background-position:-10px -2065px; }
.sprite-indicators-student-blue-s2{ width:30px; height:30px; background-position:-10px -2105px; }
.sprite-indicators-student-purple-s1{ width:25px; height:25px; background-position:-10px -2145px; }
.sprite-indicators-student-bluewhite-s1{ width:25px; height:25px; background-position:-10px -2180px; }
.sprite-indicators-student-magent-s1{ width:25px; height:25px; background-position:-10px -2215px; }
.sprite-indicators-student-blue-s1{ width:25px; height:25px; background-position:-10px -2250px; }
.sprite-indicators-student-greenwhite-s1{ width:25px; height:25px; background-position:-10px -2285px; }
.sprite-indicators-student-green-s1{ width:25px; height:25px; background-position:-10px -2320px; }
.sprite-indicators-industry{ width:23px; height:23px; background-position:-10px -2355px; }
.sprite-indicators-commerce{ width:23px; height:23px; background-position:-10px -2388px; }
.sprite-indicators-services{ width:23px; height:23px; background-position:-10px -2421px; }

