.ovieSprite-home{ background:url("ovieSprite-home.png") top left no-repeat; }
.ovieSprite-home-bubbleChat{ width:468px; height:290px; background-position:-10px -10px; }
.ovieSprite-home-infographicRight{ width:500px; height:195px; background-position:-10px -310px; }
.ovieSprite-home-infographicLeft{ width:500px; height:195px; background-position:-10px -515px; }
.ovieSprite-home-aboutuse{ width:110px; height:110px; background-position:-10px -720px; }
.ovieSprite-home-sources{ width:110px; height:110px; background-position:-130px -720px; }
.ovieSprite-home-features{ width:110px; height:110px; background-position:-250px -720px; }
.ovieSprite-home-benefits{ width:110px; height:110px; background-position:-370px -720px; }
.ovieSprite-home-dirigidoa{ width:110px; height:110px; background-position:-10px -840px; }
.ovieSprite-home-aboutuses{ width:85px; height:85px; background-position:-130px -840px; }
.ovieSprite-home-sourcess{ width:85px; height:85px; background-position:-225px -840px; }
.ovieSprite-home-featuress{ width:85px; height:85px; background-position:-320px -840px; }
.ovieSprite-home-benefitss{ width:85px; height:85px; background-position:-415px -840px; }
.ovieSprite-home-dirigidoas{ width:85px; height:85px; background-position:-10px -960px; }
.ovieSprite-home-usos{ width:70px; height:70px; background-position:-105px -960px; }
.ovieSprite-home-fuentes{ width:70px; height:70px; background-position:-185px -960px; }
.ovieSprite-funcion{ width:70px; height:70px; background-position:-265px -960px; }
.ovieSprite-home-beneficios{ width:70px; height:70px; background-position:-345px -960px; }
.ovieSprite-home-dirigido{ width:70px; height:70px; background-position:-425px -960px; }
.ovieSprite-home-mail{ width:26px; height:26px; background-position:-10px -1055px; }
.ovieSprite-home-phone{ width:23px; height:26px; background-position:-46px -1055px; }
.ovieSprite-home-guionBlue{ width:12px; height:12px; background-position:-488px -10px; }
.ovieSprite-home-guionPurple{ width:12px; height:12px; background-position:-490px -720px; }
.ovieSprite-home-guionRed{ width:12px; height:12px; background-position:-82px -1055px; }
.ovieSprite-home-guionGreen{ width:12px; height:12px; background-position:-104px -1055px; }
.ovieSprite-home-guionBlues{ width:9px; height:9px; background-position:-126px -1055px; }
.ovieSprite-home-guionPurples{ width:9px; height:9px; background-position:-145px -1055px; }
.ovieSprite-home-guionReds{ width:9px; height:9px; background-position:-164px -1055px; }
.ovieSprite-home-guionGreens{ width:9px; height:9px; background-position:-183px -1055px; }


.ovieSprite-home-mail{
    display: inline-block;
    top: 8px;
    position: relative;
    margin-right: 5px;
}
.ovieSprite-home-phone{
    display: inline-block;
    top: 6px;
    position: relative;
    margin-left: 5px;
}

@media only screen and (max-width: 601px) and (min-width: 0px){
    
    .ovieSprite-home-dirigidoa{ width:85px; height:85px; background-position:-10px -960px; }
    .ovieSprite-home-benefits{ width:85px; height:85px; background-position:-415px -840px; }
    .ovieSprite-home-features{ width:85px; height:85px; background-position:-320px -840px; }
    .ovieSprite-home-sources{ width:85px; height:85px; background-position:-225px -840px; }
    .ovieSprite-home-aboutuse{ width:85px; height:85px; background-position:-130px -840px; }
}