.ovie-sprite-tools{ background:url("ovie-sprite-tools.png") top left no-repeat; }
.ovie-sprite-tools-laboral{ width:50px; height:50px; background-position:-10px -249px;}
.ovie-sprite-tools-agendar{ width:50px; height:50px; background-position:-10px -70px; }
.ovie-sprite-tools-calculator-off{ width:50px; height:50px; background-position:-10px -130px; }
.ovie-sprite-tools-calculator{ width:50px; height:50px; background-position:-10px -190px; }
.ovie-sprite-tools-laboral-off{ width:50px; height:50px; background-position:-10px -250px; }
.ovie-sprite-tools-inmobiliaria-off{ width:50px; height:50px; background-position:-10px -310px; }
.ovie-sprite-tools-analysis{ width:50px; height:50px; background-position:-10px -370px; }
.ovie-sprite-tools-inmobiliaria{ width:50px; height:50px; background-position:-11px -310px; }
.ovie-sprite-tools-agendar-off{ width:50px; height:50px; background-position:-10px -490px; }
.ovie-sprite-tools-help-off{ width:50px; height:50px; background-position:-10px -550px; }
.ovie-sprite-tools-help{ width:50px; height:50px; background-position:-10px -610px; }
.ovie-sprite-tools-home-off{ width:50px; height:50px; background-position:-10px -670px; }
.ovie-sprite-tools-home{ width:50px; height:50px; background-position:-10px -730px; }
.ovie-sprite-tools-analysis-off{ width:50px; height:50px; background-position:-10px -790px; }
.ovie-sprite-tools-share-off{ width:50px; height:50px; background-position:-10px -850px; }
.ovie-sprite-tools-graph-off{ width:50px; height:50px; background-position:-10px -910px; }
.ovie-sprite-tools-swap-off{ width:50px; height:50px; background-position:-10px -970px; }
.ovie-sprite-tools-group-off{ width:50px; height:50px; background-position:-10px -1030px; }
.ovie-sprite-tools-market-off{ width:50px; height:50px; background-position:-10px -1090px; }
.ovie-sprite-tools-addGeo-offS{ width:50px; height:50px; background-position:-10px -1150px; }
.ovie-sprite-tools-share{ width:50px; height:50px; background-position:-10px -1210px; }
.ovie-sprite-tools-graph{ width:50px; height:50px; background-position:-10px -1270px; }
.ovie-sprite-tools-swap{ width:50px; height:50px; background-position:-10px -1330px; }
.ovie-sprite-tools-group{ width:50px; height:50px; background-position:-10px -1390px; }
.ovie-sprite-tools-market{ width:50px; height:50px; background-position:-10px -1450px; }
.ovie-sprite-tools-addGeo{ width:50px; height:50px; background-position:-10px -1510px; }
.ovie-sprite-tools-laboral-offS{ width:30px; height:30px; background-position:-10px -1570px; }
.ovie-sprite-tools-swap-offS{ width:30px; height:30px; background-position:-10px -1610px; }
.ovie-sprite-tools-swapS{ width:30px; height:30px; background-position:-10px -1650px; }
.ovie-sprite-tools-groupS{ width:30px; height:30px; background-position:-10px -1690px; }
.ovie-sprite-tools-group-offS{ width:30px; height:30px; background-position:-10px -1730px; }
.ovie-sprite-tools-market-offS{ width:30px; height:30px; background-position:-10px -1770px; }
.ovie-sprite-tools-marketS{ width:30px; height:30px; background-position:-10px -1810px; }
.ovie-sprite-tools-addGeoS{ width:30px; height:30px; background-position:-10px -1850px; }
.ovie-sprite-tools-laboralS{ width:30px; height:30px; background-position:-10px -1890px; }
.ovie-sprite-tools-inmobiliaria-offS{ width:30px; height:30px; background-position:-10px -1930px; }
.ovie-sprite-tools-inmobiliariaS{ width:30px; height:30px; background-position:-10px -1970px; }
.ovie-sprite-tools-calculator-offS{ width:30px; height:30px; background-position:-10px -2010px; }
.ovie-sprite-tools-calculatorS{ width:30px; height:30px; background-position:-10px -2050px; }
.ovie-sprite-tools-agendar-offS{ width:30px; height:30px; background-position:-10px -2090px; }
.ovie-sprite-tools-agendarS{ width:30px; height:30px; background-position:-10px -2130px; }
.ovie-responsivetools-addGeoOff{ width:30px; height:30px; background-position:-10px -2170px; }
.ovie-sprite-tools-share-offS{ width:30px; height:30px; background-position:-10px -2210px; }
.ovie-sprite-tools-help-offS{ width:30px; height:30px; background-position:-10px -2250px; }
.ovie-sprite-tools-helpS{ width:30px; height:30px; background-position:-10px -2290px; }
.ovie-sprite-tools-graph-offS{ width:30px; height:30px; background-position:-10px -2330px; }
.ovie-sprite-tools-homeS{ width:30px; height:30px; background-position:-10px -2370px; }
.ovie-sprite-tools-home-offS{ width:30px; height:30px; background-position:-10px -2410px; }
.ovie-sprite-tools-analysis-offS{ width:30px; height:30px; background-position:-10px -2450px; }
.ovie-sprite-tools-analysisS{ width:30px; height:30px; background-position:-10px -2490px; }
.ovie-sprite-tools-shareS{ width:30px; height:30px; background-position:-10px -2530px; }
.ovie-sprite-tools-graphS{ width:30px; height:30px; background-position:-10px -2570px; }

