input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}


/* Ajustes Materialize  */

/*.collection .collection-item.active {
    background-color: #0062a0;
    color: #eafaf9;
}*/
.card .card-action a {
    color: #0062a0;
}