@import url('adjustments.css');
@import url('sprites/main-sprite.css');
@import url('sprites/spriteOVIE.css');
@import url('sprites/ovie-sprite-tools.css');
@import url('sprites/inmobSprite.css');

#main{
	overflow: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.ms-header{
	  position: absolute;
	  width: 100%;
	  padding-top: 3px;	
}
.pdfClass{
    position: absolute;
    top: -270px;
    left: 0px;
}
.ms-content{
	  position: absolute;
	  top: 270px;
	  left: 0px;
	  right: 0px;
	  bottom: 0px;	
}
.header-btnLogout{
	float:right;
	cursor:pointer;	
}
.header-btnGraph{
	float:right;
	cursor:pointer;	
}
.header-specialGraph{
	float:right;
	cursor:pointer;	
}
.ms-header .row{
	margin-bottom:0px;
}
.ms-header nav{
	color:#333;
	background-color:#F3F3F3;
	height: 105px;
  	line-height: 28px
}
.ms-header nav a{
	color:#333;
}
.ms-header .button-collapse, {
	height:31px;
}

.ms-header .button-collapse i {
  font-size: 2.7rem;
  height: 30px;
  line-height: 32px;
}

.ms-header nav ul li:hover, .ms-header nav ul li.active {
  background-color: rgba(225, 150, 50, 0.7);
}

.content-display{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	border: none;
	display:none;
	padding-top: 15px;

}

iframe.content-display {
	width:100%;
	height:100%	
}
.content-display.active{
	display:block;	
}
.nameUser h6{
	margin: 0.5rem 0 0.1rem 0;
}


.login-container{
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 0px;
  	margin-bottom: 0px;
  	height: 100%;	
}
.login-box{
	width:100%;
	height:100%;	
}
#login-modal{
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
	max-height:none;

}
.login-header{
	color:#272727;
	/*background-image:url(img/bg-login.jpg);
	background-position:center;*/
	background-color:#CFCFCF;
}
#login-panel{
	padding:10px;
	
}
.login-left-panel{
	padding-bottom: 15px;
  	background-color: #EAEAEA;
  	padding: 7px 0px 14px 10px;
 	float: left;
  	width: 100%;
	margin-bottom: 10px;
}
#spinnerHeader{
	position:absolute;
	z-index:1000;
	left:0px;
	top:0px;
	height:5px;
	width:100%;
}
#spinnerHeader .progress{
	margin:0px;
	
}

.versionBeta{
	position: absolute;
    top: 134px;
    left: 19%;
    font-weight: bold;
    font-family: arial;
    font-size: 18px;
    color: #0062a0;
}

.pivot{
	height: 155px;
	float: left;
}
.modal-title{
	background: #0062a0;
    color: white;
    font-size: 16pt;
    padding: 5px;
}

.modal-txt{
	text-align: justify;
    font-size: 90%;
    color: #828181;
}

.modal-container{
	height:505px !important;
	width:600px !important;
	
}
.modal-containerAgenda{
	height:545px !important;
	width:600px !important;
	
}
/*Temporal*/
#mnu_analisis{
	display:none;
}

#mnu_share{
	display:none;
}

/*ocultar los menús de inmobiliaria,agendar y laboral*/

#mnu_inmobiliaria{
	display:none;
}

#mnu_laboral{
	display:none;
}
#mnu_agendar{
	display:none;
}

.main-logo{
	/*content:url(img/ovie_logo.jpg);*/
	/*width:329px;
	height:152px;*/
	float:left;
}
.width-content{
	width:1000px;
	margin-left: auto;
    margin-right: auto;
	position: relative;
}
.cdmx-logo{
	/*content: url(img/logo_cdmx.png);*/
    /*width: 326px;
    height: 75px;*/
	
	width:auto;
	height:auto;
    float: left;
    margin-top: 15px;
    margin-left: 34px;
}
.sedeco-logo{
	
	/*content: url(img/sedeco_logo.png);*/
    /*width: 75px;
    height: 75px;*/
	width:auto;
	height:auto;
    float: right;
    margin-top: 45px;
    margin-right: 23px;
}
.inegi-logo{
	/*content: url(img/inegi_logo.png);*/
    /*width: 136px;
    height: 75px;*/
	width:auto;
	height:auto;
    float: right;
    margin-top: 45px;
    margin-right: 0px;
}
.header-title{
	width: auto;
    float: right;
    text-align: right;
    padding-right: 20px;
    clear: both;
    margin-top: -23px;
	padding-top:2px;
    padding-left: 20px;
	color:#FFF;
	
	box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	
	position: relative; 
    height: 0px; 
    width: auto; 
    border-left: 40px solid transparent; 
    border-right: 0px solid transparent; 
    border-bottom: 25px solid #0062a0; 
	
}
.header-bottombar{
	width:100%;
	float:left;
	height:3px;
	background-color:#0062a0;
	
}
.ovie-nav-btn{
	float: left;
    width: 76px;
    margin-left: 6px;
    padding:10px 5px 30px 10px;
	cursor:pointer;
	height: 103px;
	overflow:hidden;
	
	box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
.ovie-nav-btn:hover{
	background-color:#a3dbff;
}
.ovie-nav-btn[status=active]{
	background-color:#7dcdff;
}
.ovie-nav-btn[status=active] .ovie-nav-btn-img{
	display:block;	
}
.ovie-nav-btn[status=inactive] .ovie-nav-btn-img{
	display:none;	
}

.ovie-nav-btn[status=active] .btn-img-inactive{
	display:none;	
}
.ovie-nav-btn[status=inactive] .btn-img-inactive{
	display:block;	
}
.ovie-nav-btn:first-of-type{
	margin-left:0px;
	
}
.ovie-nav-btn-img{
    margin-left: auto;
    margin-right: auto;
}
.ovie-nav-btn label{
	font-size: 10px;
    line-height: 13px;
    text-align: center;
    float: left;
	width: 100%;
    margin-top: 3px;
}
.ovie-nav-btn[status=active] label{
	color:#333;
	font-weight:bold;
}
.ms-header-hidden{
	position: absolute;
    top: 0px;
    width: 100%;
    opacity: 0.9;
    z-index: 100;
}
.ms-header-hidden nav{
	background-color:#FFF;
}
.modal input{
	color:#555;	
}

#mnu_addGeo{
	width:100px;
}


.spinnerExport{
	text-align: center;
	display: none;
	position:fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5000;
}
.spinnerExport .export-container{
	    /*padding: 35px;*/
}

.spinnerExport .spinner-layer{
	border-color: #0062a0;
}
.spinnerExport .label{
	font-weight: bold;
    color: #757575;
    font-size: 110%;
	margin-top: 15px;
}

.spinnerExport .image{
	position: absolute;
    margin-left: 19px;
    margin-top: 18px;
}

@media only screen and (max-width: 601px) and (min-width: 0px){
	.width-content{
		width:100%;
	}
	.ovie-nav-btn[status="inactive"]{
		display: none;
	}
	.ovie-nav-btn[status="active"]{
		position: absolute !important;
		left: 60px !important;
		right: 0px !important;
		width: auto !important;
	}
	
	.ovie-nav-btn[status="active"] .ovie-nav-btn-img{
		margin-top: 0px !important;
		left: 14px !important;
		position: absolute !important;
	}
	.ovie-nav-btn[status="active"] label{
		    
			    margin-top: 0px !important;
				position: absolute !important;
				font-size: 100% !important;
				top: 20px !important;
				width: auto;
				left: 55px;
				right: 10px;
				text-align: left;
	}
	.versionBeta{
		        left: 13% !important;
				top: 77px !important;
			    /* right: 17px !important; */
	}
	.main-logo{
		/*content:url(img/ovie_logo_mobile.jpg);*/
		    width: 54% !important;
			margin-top: 6px !important;
			max-width: 170px;
	}
	
	.cdmx-logo{
			/*content: url(img/logo_cdmx_mobile.png);*/
		    width: 40% !important;
			margin-top: 17px !important;
			margin-left: 18px !important;
	}
	.sedeco-logo{
		            width: 12% !important;
					margin-right: 10px !important;
					margin-top: 15px !important;
					max-width: 45px;
	}
	.inegi-logo{
			    content: url(img/inegi_logo_mobile.png);
				width: 13% !important;
				margin-right: 15px !important;
				margin-top: 15px !important;
				max-width: 51px;
	}
	.modal-container {
		height: 90% !important;
		width: 90% !important;
	}
	.button-collapse{
		    height: auto;
			margin-left: 12px;
			margin-top: 9px;
	}
	
	.ovie-sprite-tools-help{ width:30px; height:30px; background-position:-10px -1170px; }
	.ovie-sprite-tools-home{ width:30px; height:30px; background-position:-11px -2369px; }
	.ovie-sprite-tools-analysis{ width:30px; height:30px; background-position:-11px -2491px; }
	.ovie-sprite-tools-share{ width:30px; height:30px; background-position:-10px -1370px; }
	.ovie-sprite-tools-graph{ width:30px; height:30px; background-position:-10px -1410px; }
	.ovie-sprite-tools-swap{ width:30px; height:30px; background-position:-10px -1649px; }
	.ovie-sprite-tools-group{ width:30px; height:30px; background-position:-10px -1689px; }
	.ovie-sprite-tools-market{ width:30px; height:30px; background-position:-9px -1809px;}
	.ovie-sprite-tools-addGeo{ width:30px; height:30px; background-position:-10px -1730px; }
	.ovie-sprite-tools-swap{ width:30px; height:30px; background-position:-10px -1648px;}
	.ovie-sprite-tools-calculator{ width:30px; height:30px; background-position:-10px -2050px; }
	.ovie-sprite-tools-agendar{ width:30px; height:30px; background-position:-10px -2132px; }
	.ovie-sprite-tools-help{ width:30px; height:30px; background-position:-10px -2290px; }
	.ovie-sprite-tools-inmobiliaria{ width:30px; height:30px; background-position:-11px -1971px; }
	.ovie-sprite-tools-laboral{ width:30px; height:30px; background-position:-10px -1889px; }
	
	.ms-header nav{
		height: 50px;
		position: absolute;
		top: 120px;
	}
	.header-bottombar{
		    position: absolute;
			top: 117px;
	}
	.ovie-nav-btn{
		height:50px;
	}
	.ms-content{
		top:173px;
	}
	#mobile-demo .ovie-sprite-tools {
		padding-top:-18px;
	}
	#mobile-demo .iconChoice{
		display: inline-block;
		position: absolute;
		top: -8px;
		/* margin-right: 5px; */
		/* left: -38px; */
		/* float: left; */
		left: -40px;
	}
	#mobile-demo .labelChoice{
		display: inline-block;
		line-height: 15px;
		margin-left: 50px;
	}

	.ms-header nav ul li:hover, .ms-header nav ul li.active{
		background-color: #7dcdff;
	}
	#mobile-demo li{
		border-bottom: 1px solid #e0dede;
		position: relative;
	}
	#mobile-demo li.Active{
		background-color: #7dcdff;
	}
	#mobile-demo .opcChoice{
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 30px;
		position: relative;
		line-height: 15px;
		top: 25px;
	}
	.header-title{
		    border-bottom: 25px solid transparent !important;
			
	}
	.nav-wrapper .button-collapse{
		height: 43px;
		color: #4a4f50;
	}
	.nav-wrapper .button-collapse i{
		    line-height: 35px;
			height: 40px;
	}
	.ms-header-hidden{
		opacity: 1;
	}
	#sidenav-overlay{
		z-index: 99;
	}
	
	#tabArea{
		height: 400px !important;
	}
	#geoArea_areaMap {
		height: 400px !important;
	}
	#tabVocEco{
		height: 400px !important;	
	}
	#tabVocEcoAct{
		height: 400px !important; 
	}
	#vocationMapa{
		height:400px !important;
	}
	
	#vocation-container #sa_results_infoActEcoFind{
		height: 202px !important;
	}
	#sa_results_searchArea{
		height: 201px !important;
	}
	

	#mobile-demo li[idref="5"]{
		display: none;
	}
	#mobile-demo li[idref="6"]{
		display: none;
	}
	.actEco-list-container{
		height:400px !important;
	}
	.home-bubbleChat{
		background: none !important;
		height: auto !important;
		width: 100% !important;
	}
	
	.home-bubbleChat #ovie-definicion{
		background: #0062a0;
		width: 100% !important;
		-webkit-border-radius: 7px 7px 7px 7px;
		border-radius: 7px 7px 7px 7px;
	}
	.home-bubbleChat p{
		padding: 10px;
	}
	
	.home-infographic-element{
		margin: auto !important;
		width: 100% !important;
		height: auto !important;
	}
	.ovieSprite-home{
		position:  relative !important;
	}
	.home-text-right{
		position: initial !important
	}
	.home-text-left{
		position: initial !important
	}
	.home-icon-element{
		top: auto !important;
        left: auto !important;
		right: auto !important;
	}
	.home-infographic-element{
		background: none !important;
		    padding-bottom: 15px;
			font-size: 110%;
	}
	.home-text-left b{
		margin-bottom: 5px !important;
    margin-top: 0px !important;
	}
	.home-text-right b{
		margin-bottom: 5px !important;
    margin-top: 0px !important;
	}
	.ovie-title-definicion{
		    font-size: 100% !important;
	}
	nav{
		height: 50px !important ;	
	}
	.ovieSprite-escolaridad{
		background-position:-10px -138px;
		 width:300px;
		 height:115px;
	}
}

@media only screen and (max-width: 993px) and (min-width: 602px){
    .ovieSprite-escolaridad{
		background-position:-10px -138px;
	}
	
	.width-content{
		width:100%;
	}
	.customTab .header .option{
		padding-left: 0px !important;
		font-size: 100% !important;
	}
	.main-logo{
		width:35% !important;
		margin-top: 10px !important;
	}
	.cdmx-logo{
		width:34% !important;
		margin-top: 25px !important;
	}
	
	.versionBeta{
		top: 125px !important;
		left: 15% !important;
		font-size: 22px !important;
		/*left: 116px !important;*/
		
	}
	.sedeco-logo{
		    width: 8% !important;
			margin-right: 15px !important;
	}
	.inegi-logo{
			width: 13% !important;
			
			margin-right: 8px !important;
	}
	.chip{
		font-size: 12px !important;
		padding: 0 9px !important;
	}
	.button-collapse{
		display: none;
	}
	#vocEco_results .totales{
		width:33.33% !important;
	}
	nav{
		height: 105px !important;	
	}
}
