.ovieSprite{ background:url("ovieSprite.png") top left no-repeat; }
.ovieSprite-termometro{ width:55px; height:118px; background-position:-10px -10px; }
.ovieSprite-empleado{ width:80px; height:118px; background-position:-75px -10px; }
.ovieSprite-sexos{ width:155px; height:118px; background-position:-165px -10px; }
.ovieSprite-termometro02{ width:55px; height:118px; background-position:-10px -138px; }
.ovieSprite-escolaridad{ width:350px; height:115px; background-position:-10px -266px; }
.ovieSprite-escolaridadS{ width:300px; height:115px; background-position:-10px -391px; }
.ovieSprite-edades-old{ width:300px; height:88px; background-position:-10px -516px; }
.ovieSprite-indicador{ width:40px; height:70px; background-position:-75px -138px; }
.ovieSprite-secIncomp{ width:70px; height:70px; background-position:-125px -138px; }
.ovieSprite-secComp{ width:70px; height:70px; background-position:-205px -138px; }
.ovieSprite-primIncomp{ width:70px; height:70px; background-position:-285px -138px; }
.ovieSprite-primComp{ width:70px; height:70px; background-position:-10px -614px; }
.ovieSprite-posbasica{ width:70px; height:70px; background-position:-90px -614px; }
.ovieSprite-edades{ width:300px; height:62px; background-position:-10px -694px; }
.ovieSprite-radio{ width:55px; height:55px; background-position:-170px -614px; }
.ovieSprite-industria{ width:64px; height:55px; background-position:-235px -614px; }
.ovieSprite-servicios{ width:50px; height:55px; background-position:-309px -614px; }
.ovieSprite-comercio{ width:64px; height:55px; background-position:-10px -766px; }
.ovieSprite-productividad{ width:55px; height:55px; background-position:-84px -766px; }
.ovieSprite-remuneracion{ width:55px; height:55px; background-position:-149px -766px; }
.ovieSprite-personal{ width:55px; height:55px; background-position:-214px -766px; }
.ovieSprite-ueTot{ width:55px; height:55px; background-position:-279px -766px; }
.ovieSprite-vivTot{ width:55px; height:55px; background-position:-10px -831px; }
.ovieSprite-pobTot{ width:55px; height:55px; background-position:-75px -831px; }
.ovieSprite-superficie{ width:55px; height:55px; background-position:-140px -831px; }
.ovieSprite-calculator-arrow{ width:50px; height:50px; background-position:-205px -831px; }
.ovieSprite-actcons-900005{ width:45px; height:45px; background-position:-265px -831px; }
.ovieSprite-actcons-900001{ width:45px; height:45px; background-position:-10px -896px; }
.ovieSprite-actcons-467111{ width:45px; height:45px; background-position:-65px -896px; }
.ovieSprite-actcons-812210{ width:45px; height:45px; background-position:-120px -896px; }
.ovieSprite-actcons-maquilaZapatos{ width:45px; height:45px; background-position:-175px -896px; }
.ovieSprite-actcons-461160{ width:45px; height:45px; background-position:-230px -896px; }
.ovieSprite-actcons-465311{ width:45px; height:45px; background-position:-285px -896px; }
.ovieSprite-actcons-466312{ width:45px; height:45px; background-position:-10px -951px; }
.ovieSprite-actcons-561432{ width:45px; height:45px; background-position:-65px -951px; }
.ovieSprite-actcons-467115{ width:45px; height:45px; background-position:-120px -951px; }
.ovieSprite-actcons-812110{ width:45px; height:45px; background-position:-175px -951px; }
.ovieSprite-tiendaArticulosHogar{ width:45px; height:45px; background-position:-230px -951px; }
.ovieSprite-actcons-311830{ width:45px; height:45px; background-position:-285px -951px; }
.ovieSprite-actcons-461110{ width:45px; height:45px; background-position:-10px -1006px; }
.ovieSprite-actcons-463211{ width:45px; height:45px; background-position:-65px -1006px; }
.ovieSprite-actcons-722514{ width:45px; height:45px; background-position:-120px -1006px; }
.ovieSprite-actcons-465912{ width:45px; height:45px; background-position:-175px -1006px; }
.ovieSprite-actcons-323119{ width:45px; height:45px; background-position:-230px -1006px; }
.ovieSprite-actcons-722511{ width:45px; height:45px; background-position:-285px -1006px; }
.ovieSprite-actcons-811499{ width:45px; height:45px; background-position:-10px -1061px; }
.ovieSprite-actcons-468211{ width:45px; height:45px; background-position:-65px -1061px; }
.ovieSprite-actcons-461130{ width:45px; height:45px; background-position:-120px -1061px; }
.ovieSprite-actcons-461122{ width:45px; height:45px; background-position:-175px -1061px; }
.ovieSprite-actcons-72257{ width:45px; height:45px; background-position:-230px -1061px; }
.ovieSprite-actcons-722513{ width:45px; height:45px; background-position:-285px -1061px; }
.ovieSprite-actcons-900010{ width:45px; height:45px; background-position:-10px -1116px; }
.ovieSprite-actcons-722515{ width:45px; height:45px; background-position:-65px -1116px; }
.ovieSprite-actcons-461121{ width:45px; height:45px; background-position:-120px -1116px; }
.ovieSprite-actcons-722518{ width:45px; height:45px; background-position:-175px -1116px; }
.ovieSprite-actcons-621211{ width:45px; height:45px; background-position:-230px -1116px; }
.ovieSprite-actcons-621113{ width:45px; height:45px; background-position:-285px -1116px; }
.ovieSprite-actcons-461190{ width:45px; height:45px; background-position:-10px -1171px; }
.ovieSprite-actcons-463310{ width:45px; height:45px; background-position:-65px -1171px; }
.ovieSprite-actcons-464111{ width:45px; height:45px; background-position:-120px -1171px; }
.ovieSprite-actcons-900009{ width:45px; height:45px; background-position:-175px -1171px; }
.ovieSprite-actcons-900004{ width:45px; height:45px; background-position:-230px -1171px; }
.ovieSprite-actcons-900003{ width:45px; height:45px; background-position:-285px -1171px; }
.ovieSprite-actcons-900002{ width:45px; height:45px; background-position:-10px -1226px; }
.ovieSprite-actcons-900008{ width:45px; height:45px; background-position:-65px -1226px; }
.ovieSprite-actcons-900007{ width:45px; height:45px; background-position:-120px -1226px; }
.ovieSprite-actcons-900006{ width:45px; height:45px; background-position:-175px -1226px; }
.ovieSprite-actcons-811111{ width:45px; height:45px; background-position:-230px -1226px; }
.ovieSprite-calculator-cleanB{ width:40px; height:40px; background-position:-320px -391px; }
.ovieSprite-calculator-save{ width:40px; height:40px; background-position:-320px -516px; }
.ovieSprite-servicios-small{ width:37px; height:37px; background-position:-320px -694px; }
.ovieSprite-comercio-small{ width:37px; height:37px; background-position:-320px -831px; }
.ovieSprite-industria-small{ width:37px; height:37px; background-position:-285px -1226px; }
.ovieSprite-actpred-461122{ width:35px; height:35px; background-position:-10px -1281px; }
.ovieSprite-actpred-561432{ width:35px; height:35px; background-position:-55px -1281px; }
.ovieSprite-actpred-72257{ width:35px; height:35px; background-position:-100px -1281px; }
.ovieSprite-actpred-722513{ width:35px; height:35px; background-position:-145px -1281px; }
.ovieSprite-actpred-722511{ width:35px; height:35px; background-position:-190px -1281px; }
.ovieSprite-actpred-900008{ width:35px; height:35px; background-position:-235px -1281px; }
.ovieSprite-actpred-900007{ width:35px; height:35px; background-position:-280px -1281px; }
.ovieSprite-actpred-900006{ width:35px; height:35px; background-position:-325px -1281px; }
.ovieSprite-actpred-900005{ width:35px; height:35px; background-position:-10px -1326px; }
.ovieSprite-actpred-900009{ width:35px; height:35px; background-position:-55px -1326px; }
.ovieSprite-actpred-900004{ width:35px; height:35px; background-position:-100px -1326px; }
.ovieSprite-actpred-900003{ width:35px; height:35px; background-position:-145px -1326px; }
.ovieSprite-actpred-900002{ width:35px; height:35px; background-position:-190px -1326px; }
.ovieSprite-actpred-900001{ width:35px; height:35px; background-position:-235px -1326px; }
.ovieSprite-actpred-465311{ width:35px; height:35px; background-position:-280px -1326px; }
.ovieSprite-actpred-461160{ width:35px; height:35px; background-position:-325px -1326px; }
.ovieSprite-maquilaZapato-S{ width:35px; height:35px; background-position:-10px -1371px; }
.ovieSprite-actpred-812210{ width:35px; height:35px; background-position:-55px -1371px; }
.ovieSprite-actpred-466312{ width:35px; height:35px; background-position:-100px -1371px; }
.ovieSprite-actpred-467111{ width:35px; height:35px; background-position:-145px -1371px; }
.ovieSprite-actpred-464111{ width:35px; height:35px; background-position:-190px -1371px; }
.ovieSprite-actpred-industria{ width:35px; height:35px; background-position:-235px -1371px; }
.ovieSprite-actpred-servicio{ width:35px; height:35px; background-position:-280px -1371px; }
.ovieSprite-actpred-463310{ width:35px; height:35px; background-position:-325px -1371px; }
.ovieSprite-actpred-311830{ width:35px; height:35px; background-position:-10px -1416px; }
.ovieSprite-actpred-463211{ width:35px; height:35px; background-position:-55px -1416px; }
.ovieSprite-actpred-465912{ width:35px; height:35px; background-position:-100px -1416px; }
.ovieSprite-actpred-467115{ width:35px; height:35px; background-position:-145px -1416px; }
.ovieSprite-actpred-comercio{ width:35px; height:35px; background-position:-190px -1416px; }
.ovieSprite-tiendaArticulosHogar-S{ width:35px; height:35px; background-position:-235px -1416px; }
.ovieSprite-actpred-461110{ width:35px; height:35px; background-position:-280px -1416px; }
.ovieSprite-actpred-722514{ width:35px; height:35px; background-position:-325px -1416px; }
.ovieSprite-actpred-461190{ width:35px; height:35px; background-position:-10px -1461px; }
.ovieSprite-actpred-811111{ width:35px; height:35px; background-position:-55px -1461px; }
.ovieSprite-actpred-812110{ width:35px; height:35px; background-position:-100px -1461px; }
.ovieSprite-actpred-323119{ width:35px; height:35px; background-position:-145px -1461px; }
.ovieSprite-actpred-621113{ width:35px; height:35px; background-position:-190px -1461px; }
.ovieSprite-actpred-900010{ width:35px; height:35px; background-position:-235px -1461px; }
.ovieSprite-actpred-621211{ width:35px; height:35px; background-position:-280px -1461px; }
.ovieSprite-actpred-811499{ width:35px; height:35px; background-position:-325px -1461px; }
.ovieSprite-actpred-722518{ width:35px; height:35px; background-position:-10px -1506px; }
.ovieSprite-actpred-468211{ width:35px; height:35px; background-position:-55px -1506px; }
.ovieSprite-actpred-461121{ width:35px; height:35px; background-position:-100px -1506px; }
.ovieSprite-actpred-461130{ width:35px; height:35px; background-position:-145px -1506px; }
.ovieSprite-actpred-722515{ width:35px; height:35px; background-position:-190px -1506px; }
.ovieSprite-calculator-clean{ width:30px; height:30px; background-position:-330px -10px; }
.ovieSprite-calculator-print{ width:30px; height:30px; background-position:-235px -1506px; }
.ovieSprite-calculator-download{ width:30px; height:30px; background-position:-275px -1506px; }
.ovieSprite-edit-white{ width:22px; height:22px; background-position:-332px -1226px; }
.ovieSprite-igrey{ width:22px; height:22px; background-position:-315px -1506px; }
.ovieSprite-ipink{ width:22px; height:22px; background-position:-10px -1551px; }
.ovieSprite-menu-plus{ width:22px; height:22px; background-position:-42px -1551px; }
.ovieSprite-menu-rest{ width:22px; height:22px; background-position:-74px -1551px; }
.ovieSprite-edit-grey{ width:22px; height:22px; background-position:-106px -1551px; }
.ovieSprite-arrowRight-large{ width:20px; height:20px; background-position:-340px -896px; }
.ovieSprite-arrowRight-small{ width:20px; height:20px; background-position:-340px -951px; }
.ovieSprite-menu-restS{ width:15px; height:15px; background-position:-344px -766px; }
.ovieSprite-menu-plusS{ width:15px; height:15px; background-position:-340px -1006px; }

