.spriteOVIE{ background:url("spriteOVIE.png") top left no-repeat; }
.spritePoblacion{ width:71px; height:71px; background-position:-10px -10px; }
.spriteRemuneraciones{ width:71px; height:71px; background-position:-10px -91px; }
.spriteSuperficie{ width:71px; height:71px; background-position:-10px -172px; }
.spriteViviendas{ width:71px; height:71px; background-position:-10px -253px; }
.spriteProduccion_bruta{ width:71px; height:71px; background-position:-10px -334px; }
.spritePersonal{ width:71px; height:71px; background-position:-10px -415px; }
.spriteValor_agregado{ width:71px; height:71px; background-position:-10px -496px; }
.spriteUnidad_economica{ width:71px; height:71px; background-position:-10px -577px; }
.spriteCapital_fijo{ width:71px; height:71px; background-position:-10px -658px; }
.sprite_shoppingCar2{ width:50px; height:50px; background-position:-10px -739px; }
.spriteMarketBasket{ width:50px; height:50px; background-position:-10px -799px; }
.spriteEscolaridad1{ width:40px; height:40px; background-position:-10px -859px; }
.spriteWoman{ width:40px; height:40px; background-position:-10px -909px; }
.spriteMan{ width:40px; height:40px; background-position:-10px -959px; }
.spriteViviendasS{ width:37px; height:37px; background-position:-10px -1009px; }
.spriteProduccion_brutaS{ width:37px; height:37px; background-position:-10px -1056px; }
.spriteValor_agregadoS{ width:37px; height:37px; background-position:-10px -1103px; }
.spriteCapital_fijoS{ width:37px; height:37px; background-position:-10px -1150px; }
.spriteSuperficieS{ width:37px; height:37px; background-position:-10px -1197px; }
.spritePoblacionS{ width:37px; height:37px; background-position:-10px -1244px; }
.spriteRemuneracionesS{ width:37px; height:37px; background-position:-10px -1291px; }
.spritePersonalS{ width:37px; height:37px; background-position:-10px -1338px; }
.spriteUnidad_economicaS{ width:37px; height:37px; background-position:-10px -1385px; }
.spriteEscolaridad2{ width:36px; height:36px; background-position:-10px -1432px; }
.spriteOld_man{ width:32px; height:32px; background-position:-10px -1478px; }
.spriteTeenager{ width:32px; height:32px; background-position:-10px -1520px; }
.spriteYoung_people{ width:32px; height:32px; background-position:-10px -1562px; }
.spriteChildren{ width:32px; height:32px; background-position:-10px -1604px; }
.spriteEscolaridad3{ width:30px; height:30px; background-position:-10px -1646px; }
.spriteEscuela{ width:30px; height:30px; background-position:-50px -1646px; }
.spriteCines{ width:30px; height:30px; background-position:-10px -1686px; }
.spriteCentros_medicos{ width:30px; height:30px; background-position:-50px -1686px; }
.spriteCafe{ width:30px; height:30px; background-position:-10px -1726px; }
.spritePoligono2{ width:23px; height:23px; background-position:-57px -1009px; }
.spriteServicios{ width:23px; height:23px; background-position:-57px -1056px; }
.spriteIndustry{ width:23px; height:23px; background-position:-57px -1103px; }
.sprite_shoppingCar{ width:23px; height:23px; background-position:-57px -1150px; }
.spriteLinea3{ width:23px; height:23px; background-position:-57px -1197px; }
.spriteLinea2{ width:23px; height:23px; background-position:-57px -1244px; }
.spriteLinea1{ width:23px; height:23px; background-position:-57px -1291px; }
.spritePunto3{ width:23px; height:23px; background-position:-57px -1338px; }
.spritePunto2{ width:23px; height:23px; background-position:-57px -1385px; }
.spritePunto1{ width:23px; height:23px; background-position:-56px -1432px; }
.spritePoligono3{ width:23px; height:23px; background-position:-52px -1478px; }
.spritePoligono1{ width:23px; height:23px; background-position:-52px -1520px; }
.spriteEscolaridad4{ width:21px; height:21px; background-position:-60px -859px; }
.spriteAdd2{ width:15px; height:15px; background-position:-60px -909px; }
.spriteAdd1{ width:15px; height:15px; background-position:-60px -959px; }
.spriteClose2{ width:15px; height:15px; background-position:-52px -1562px; }
.spriteClose1{ width:15px; height:15px; background-position:-52px -1604px; }
.spriteClose4{ width:9px; height:9px; background-position:-70px -739px; }
.spriteAdd4{ width:9px; height:9px; background-position:-70px -799px; }
.spriteAdd3{ width:9px; height:9px; background-position:-50px -1726px; }
.spriteClose3{ width:9px; height:9px; background-position:-69px -1726px; }

